/** @format */

.Arrows {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.1rem;
}

.LeftArrows::after,
.RightArrows::after {
	content: '';
	display: block;
	width: 0.2rem;
	height: 0.6rem;
	background: #0f172a;
}

.LeftArrows::before,
.RightArrows::before {
	content: '';
	display: block;
	border-left: 0.35rem solid transparent;
	border-right: 0.35rem solid transparent;
	border-bottom: 0.5rem solid #0f172a;
}

.LeftArrows,
.RightArrows {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.RightArrows {
	transform: rotate(180deg);
}
